<mat-card-header class="flex-row-center">
    <mat-card-title class="card-title">Sign up now</mat-card-title>
    <mat-card-subtitle>Please sign up to enter in app</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Enter login" formControlName="username" name="username" required>
            <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mail</mat-label>
            <input matInput placeholder="Enter your email" formControlName="mail" name="mail" required>
            <mat-error *ngIf="hasError('mail', 'required')">Mail is required</mat-error>
            <mat-error *ngIf="hasError('mail', 'email')">Mail is invalid</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter the password" formControlName="password" type="password" name="password"
                required>
            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Repeat Password</mat-label>
            <input matInput placeholder="Re-enter the password" formControlName="repeatPassword" type="password"
                name="repeatPassword" required>
            <mat-error *ngIf="hasError('repeatPassword', 'required')">Password is required</mat-error>
        </mat-form-field>

    </form>
</mat-card-content>
<mat-card-actions>
    <div class="flex-row-center">
        <button mat-raised-button (click)="onSubmit()" color="primary">Sign up</button>
    </div>
</mat-card-actions>