.card {
  min-width: 40vh;
  min-height: 25vh;
}

.card-title {
  text-align: center;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divider {
  /* margin-top: 1vw; */
  /* margin-bottom: 1vw; */
}