.card {
  min-width: 10vw;
  min-height: 15vh;
  max-width: 25vw;
  max-width: 30vh;
}

.card-title {
  text-align: center;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divider {
  /* margin-top: 1vw; */
  /* margin-bottom: 1vw; */
}